@using Quanlytrotdmune.Models
@model Quanlytrotdmune.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}


<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" style=" width: 50%; margin: auto;">
                <div class="login-form">
                    @using (Html.BeginForm("Login", "User"))
                    {
                        <div class="row">
                            <div class="col-md-6">

                                <label>E-mail</label>
                                @Html.TextBoxFor(x => x.email, new { @class = "form-control", placeholder = "Email", id = "email" })
                                @Html.ValidationMessageFor(x => x.email, "", new { @class = " badge badge-danger" })
                                <h5 style="color:red;font-size:smaller">@ViewBag.error</h5>
                            </div>
                            <div class="col-md-6">
                                <label>Mật khẩu</label>
                                @Html.PasswordFor(x => x.password, new { @class = "form-control", placeholder = "Mật khẩu", id = "password" })
                                @Html.ValidationMessageFor(x => x.password, "", new { @class = " badge badge-danger" })
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                </div>
                              @ViewBag.log
                               
                            </div>
                            <div class="col-md-12">
                                @Html.Raw("<button type='submit' class='btn btn-light btn-block' id='submit' >Đăng nhập</button>")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


