
@using Quanlytrotdmune.Models
@model Quanlytrotdmune.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<div class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6" style=" width: 50%; margin: auto;">
                <div class="register-form" ">
                    <span>@ViewBag.error</span>
                    @using (Html.BeginForm("Register", "User", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-6">
                                <label>Họ và Tên</label>
                                @Html.TextBoxFor(x => x.full_name, new { @class = "form-control", placeholder = "họ và tên", id = "full_name" })
                                @Html.ValidationMessageFor(x => x.full_name, "", new { @class = " badge badge-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>Địa chỉ </label>
                                @Html.TextBoxFor(x => x.address, new { @class = "form-control", placeholder = "Địa  chỉ", id = "address" })
                                @Html.ValidationMessageFor(x => x.address, "", new { @class = " badge badge-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>E-mail</label>
                                @Html.TextBoxFor(x => x.email, new { @class = "form-control", placeholder = "Email", id = "email" })
                                @Html.ValidationMessageFor(x => x.email, "", new { @class = " badge badge-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>Số điện thoại</label>
                                @Html.TextBoxFor(x => x.phone, new { @class = "form-control", placeholder = "Số điện thoại", id = "phone" })
                                @Html.ValidationMessageFor(x => x.phone, "", new { @class = " badge badge-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>Mật khẩu</label>
                                @Html.PasswordFor(x => x.password, new { @class = "form-control", placeholder = "Mật khẩu", id = "password" })
                                @Html.ValidationMessageFor(x => x.password, "", new { @class = " badge badge-danger" })
                            </div>
                            <div class="col-md-6">
                                <label>Nhập lại mật khẩu</label>
                                @Html.PasswordFor(x => x.confimpass, new { @class = "form-control", placeholder = "Mật khẩu", id = "confimpass" })
                                @Html.ValidationMessageFor(x => x.confimpass, "", new { @class = " badge badge-danger" })
                            </div>
                            <div class="col-md-12">
                                @Html.Raw("<button type='submit' class='btn btn-light btn-block' id='submit' >Đăng ký</button>")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>






